h1,
h2,
p {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.nav {
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__home-button {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;

  margin: 10px;
}

.nav__home-button:hover {
  color: gray;
}

.nav__about-button {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav__about-button:hover {
  color: gray;
  border: 1px solid gray;
}

.search-bar {
  margin-left: auto;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.post-container__post {
  border-radius: 20px;
  border: 1px solid white;

  padding: 20px;

  flex-basis: 300px;
  display: flex;
  flex-direction: column;

  transition-duration: 0.1s;
}

.post-container__post:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 8px 0 white;

  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  height: 30px;
  font-size: 0.8rem;
}

.post-detail {
  display: flex;
  flex-direction: column;
  align-items: center;

  grid-column: 2 / 4;
}

.button--small {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 80px;
}

.post-detail__container {
  width: 80%;
}

.post-detail__header {
  border: 1px solid white;
  border-radius: 10px;

  padding: 20px;
}

.post-detail__title {
  font-size: 2rem;
}

.post-detail__metadata {
  display: flex;
  justify-content: space-between;
}

.post-detail__content {
  min-height: 200px;

  padding: 20px;
}

.post-detail__comment-container {
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-detail__comment {
  width: 80%;

  display: flex;
  flex-direction: column;

  padding: 20px;

  border-top: 1px solid white;
}

.post-detail__comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-detail__comment-form-upper-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
