.app {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.main-content {
  flex-grow: 1;

  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 50px 1fr;

  background-color: #13005a;
}

.header-logo {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.header-logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

nav {
  grid-column: 2;
  grid-row: 1;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-bar-container {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-container input {
  border-radius: 10px;
  padding: 5px 10px;
}

footer {
  height: 50px;
}
