doctype html
html 
  include ./metadata.pug
  body    
    form.post-form(action='' method='post')
      .post-form__header
        .post-form__title-input
          label(for='title') Title 
          input(id='title' type="text" name='title' size='40' value= post ? post.title : '')
        .post-form__if-published-input
          label(for='published-checkbox') Publish? 
          // a dummy checkbox for visualization
          input(type='checkbox' id='ifPublished-checkbox' checked= post ? post.ifPublished : 'checked' )
          // a hidden input that returns the real value given by the function named handTheCheckboxValue below
          input(type='hidden' id='hidden-input' name='ifPublished' value='true')
      textarea(placeholder='What do you have on your mind today?' name='content') #{post ? post.content : ''}
      if errors
        for error in errors
          if error.msg
            div.error-message #{error.msg}
          else
            div.error-message #{error}
      // check it it's about updation or not
      button.post-form__submit-button #{post ? post.createdAt ? 'Confirm' : 'Post' : 'Post'}

    // tiny mce script
    script.
      tinymce.init({
        selector: 'textarea', 
        menubar: '',
        width: 500,
        height: 300,
        toolbar: 'undo redo | styleselect | bold italic',
        forced_root_block : 'false'
      });

      const checkboxInput = document.querySelector('#ifPublished-checkbox');
      const hiddenInput = document.querySelector('#hidden-input');
      checkboxInput.addEventListener('change', function handTheCheckboxValue() {
        const isChecked = checkboxInput.checked;
        hiddenInput.value = isChecked;
        });


