doctype html
html 
  head
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src='https://cdn.tiny.cloud/1/9yo4wjmp7lg4u93qpj9i7w4x0e9b4r0gyw3yz6qi66w1by89/tinymce/6/tinymce.min.js')

  body
    form.create-post-form(action='' method='post')
      .form-header
        label(for='title') Title: 
          input(id='title' type="text" name='title')
        label(for='published') Publish? 
          input(type='checkbox' id='published' name='published' value='true' checked)
      textarea(placeholder='What do you have on your mind today?' name='content')
      button submit

    script.
      tinymce.init({
        selector: 'textarea', 
        menubar: '',
        width: 500,
        height: 300,
        toolbar: 'undo redo | styleselect | bold italic',
      });


