head
  link(rel="stylesheet", href="/stylesheets/style.css")

body
  .header
    h1 Simple Blog (Admin)
    span.front-message Welcome 
      span #{user.name}
  .content
    a.create-post-button(href='/create') Create a post
