doctype html
html
  include ./metadata.pug
  body
    form.login-form(action="" method="post")
      h1 Enter your credential
      div
        label(for="name") NAME
        input.login-form__input(type="text" id="name" name="name" required value= cachedForm ? cachedForm.name : '')
      div
        label(for="password") PASSWORD
        input.login-form__input(type="password" id="password" name="password" required)
      if errors
        div.error-message #{errors}
      button Login