doctype html
html 
  include ./metadata.pug
  body
    .update-post
      include ./home-button.pug
      h1 Update a post 
      include ./form.pug
      .update-post__comment-container
        h2 Comments
        if post.comments.length >= 1
          for comment in post.comments 
            .update-post__comment
              div #{comment.createdAt}
              div #{comment.content}
              a(href=`/${post._id}/${comment._id}/delete`)
                b Delete
        else 
          div -none-